@import "./colors.scss";

.paragraph{
    margin-bottom: 30px;
    color: #888888;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.navigation_bar_active{
    background-color: white;
    box-shadow: 0 0 5px $background-color;
}

.redirect_arrow{
    margin-left: 16px;
    color: $main-color;
    padding: 14px;
    background-color: white;
    border-radius: 50px;
}

.big_title{
    font-weight: 700;
    font-size: 75px;
    line-height: 91px;
    margin-bottom: 15px;
}

.sub_title{
    margin-bottom: 6px;
    font-size: 14px;
    color: $main-color;
}

.section_title{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
}

button{
    font-weight: 700;
    display: flex;
    align-items: center;
    transition: .5s;
    color: white;
    margin:45px 0;
    border:none;
    background-color: $main-color;
}

button:hover{
    background-color: rgb(90, 116, 71);
}

button:active{
    background-color: rgb(62, 78, 50);
}

.square_button{
    padding: 15px;
    border-radius: 15px;
}

.round_text_button{
    padding: 5px 5px 5px 19px;
    border-radius: 50px;
}



.content_box{
    padding:50px 20px;
    overflow: hidden;
    border-radius: 60px 0px;
}

.content_box_shadow{
    box-shadow: 5px 15px 45px rgba(0, 0, 0, 0.1);
}

.content_box_black{
    background-color: rgb(0, 0, 0);
}

.section_header{
    text-align: center;
    margin-bottom: 55px;
}

.section{
    .content_section{
        padding:97px 0px 100px;
        margin: 0 auto;
        width: 70%;
    }
}

.social_media_links{
    .icon{
        margin-right: 23px;
        padding: 14px;
        border-radius: 15px;
        color: $main-color;
        background-color: $background-color;
    }
}