.how_to_work_image{
	width: 45%;
	left:-1px;
	position: absolute;
}

.how_to_work_section{
	display: flex;
	justify-content: end;
	.section_text{
		width: 50%;
		.section_header{
			text-align: start;
		}
	}
}