.contacts_section {
  display: flex; }
  .contacts_section .contact_item {
    width: 33%;
    text-align: center; }
    .contacts_section .contact_item .icon {
      margin-bottom: 16px;
      border-radius: 50px;
      color: white;
      padding: 12px;
      background: #86ad6b; }
    .contacts_section .contact_item .contact_title {
      margin-bottom: 6px;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px; }

.home_section {
  width: 50%;
  text-align: start; }

.home_image {
  width: 50%;
  top: -25px;
  left: 715px;
  position: absolute; }
