.navigation_bar {
  transition: .15s;
  padding: 21px 0;
  width: 100%;
  z-index: 1;
  position: fixed;
  left: 50%;
  transform: translate(-50%); }
  .navigation_bar section {
    display: flex;
    justify-content: center; }
    .navigation_bar section .logo {
      height: 50px; }
